

.content {
    background-color: #F3E8FF;
    display: grid;
    grid-template-rows: 0.5fr 8fr;
    color: #6A0DAD;
}

button {
    border-radius: 10px;
    border: none;
    background-color: #FFC107;
    color: #3B2C5A;
}

button:hover{
    background-color: #8C4DFF;
    color: #FFD700;
}

.buttons {
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttons button {
    font-size: 18px;
    padding: 10px 25px;
    cursor: pointer;
}

.content-items {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
    grid-auto-rows: clamp(100px, 150px, 200px);
    justify-content: center;
    gap: 10px;
}

.project-card {
    background-color: #FFF8E1;
    padding: 10px;
    display: grid;
    border-radius: 12px;
}

.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-buttons button {
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
}