
*:not(dialog) {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
  word-break: break-word;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.8fr 8fr 0.5fr;
}


header, footer {
    background-color: #3B2C5A;
    color: #FFD700;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.main-container {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

button {
    cursor: pointer;
}